body {
    background-color: #99ccff;
}

.when {
    width: 35px;
}

.change {
    width: 35px;
    text-align: right;
}

#bottom {
    margin-left: 35px;
}

#change {
    float: left;
    margin-right: 5px;
}

#count {
    clear: both;
    padding-left: 50px;
}

#count button {
    background: #3fbe6b;
    color: white;
}
